# @package _global_
defaults:
  - _default
train:
  # autoscale_batch_size: False
  autoscale_batch_size: True
  # batch_size: 32
  patience: 200
dataset:
  augmentations:
  - rand_crop_time # preset to crop to 1s
  datasets:
  - observation_P2.*
  exclude_datasets: []
model:
  task:
    mask_ratio: 0.1
inherit_exp: pitt_v3/decode_online_bci
inherit_tag: human_aug_m1