# @package _global_

defaults:
  - _default
inherit_exp: pitt_v3/decode_online_bci
inherit_tag: human_P4_pt
tag: 'online_P4_pt_unsup'
notes: "Unsupervised tuning of subject-pt model. Still expects on-task observation set data."
model:
  closed_loop_crop_bins: 50 # safe default.
  task:
    blacklist_session_supervision:
    - CRS.* # Assuming P4
    # We still keep the extra task so the weights are kept in ckpt and can be loaded.
    # But we effectively neuter it by removing its loss. (Ignore R2 if you like)