# @package _global_

tag: test

defaults:
  - /model: pretrain_small
  - /train: nlb
dataset:
  datasets:
  - CRS02bHome.data.00329
  data_keys:
  - DataKey.spikes
  pitt_co:
    arrays:
    - CRS02b-lateral_m1
    - CRS02b-medial_m1
    - CRS02b-sensory
  max_length_ms: 4000
  max_arrays: 3
  bin_size_ms: 5
  max_channels: 96
model:
  dropout: 0.8
  transformer:
    dropout: 0.8
    n_heads: 2
    n_layers: 4
  task:
    tasks:
    - ModelTask.infill
    metrics:
    - Metric.bps
train:
  patience: 6000
  batch_size: 8