# @package _global_

tag: maze_large

defaults:
  - /model: pretrain_small
  - /dataset: maze_nlb
  - /train: nlb
dataset:
  datasets:
  - mc_maze_large
  nlb_maze:
    heldout_neurons: 40
  data_keys:
  - DataKey.spikes
  - DataKey.heldout_spikes
model:
  dropout: 0.6
  transformer:
    dropout: 0.6
    n_heads: 2
  task:
    tasks:
    - ModelTask.infill
    - ModelTask.heldout_decoding
    metrics:
    - Metric.bps
    - Metric.co_bps
    - Metric.block_co_bps
train:
  log_grad: true