# @package _global_
tag: rtt_loco

defaults:
  - /model: pretrain
  - /dataset: rtt
  - /train: pretrain
model:
  subject_embed_strategy: EmbedStrat.token
  # array_embed_strategy: EmbedStrat.token_add
  dropout: 0.1
  transformer:
    dropout: 0.1
    n_heads: 2
    n_state: 256
  hidden_size: 256
  session_embed_size: 256
  subject_embed_size: 256
  array_embed_size: 256
  task:
    tasks:
    - ModelTask.infill
    metrics:
    - Metric.bps
    - Metric.all_loss
dataset:
  bin_size_ms: 20
  datasets:
  - odoherty_rtt-Loco.*
  # - odoherty_rtt-Indy-20161014_04
  data_keys:
  - DataKey.spikes
  meta_keys:
  - MetaKey.unique
  - MetaKey.session
  - MetaKey.array
  - MetaKey.subject
  odoherty_rtt:
    arrays:
    - Indy-M1
    - Loco-M1