# @package _global_

defaults:
  - /model: flat_enc_dec
  - /model/task:
    - joint_bhvr_decode_flat
  - /dataset: flat
model:
  causal: true
  neurons_per_token: 32
  session_embed_strategy: EmbedStrat.none
  transformer:
    max_trial_length: 200 # 2 seconds
    n_layers: 6
  task:
    mask_ratio: 0.25 # for efficiency
    task_weights: [1.0, 1.0]
    decode_time_pool: ''
    decode_normalizer: './data/zscore_calib_cursor_calib_broad_14d.pt'
  decoder_context_integration: 'cross_attn'
  dropout: 0.1
dataset:
  bin_size_ms: 20
  max_length_ms: 4000
  max_tokens: 8192 # expecting 6 tokens/bin x 500 bins = 3000 tokens
  # explicit_alias_to_session: true

  neurons_per_token: 32
  max_channels: 192
  max_arrays: 2

  data_keys:
  - DataKey.spikes
  - DataKey.bhvr_vel
  - DataKey.bhvr_mask
  datasets:
  - calib_pitt_calib_broad.*
  - eval_pitt_eval_broad.*
  eval_datasets:
  - eval_pitt_eval_broad.*
  eval_ratio: 1.0
  behavior_dim: 3
  pitt_co:
    respect_trial_boundaries: True

train:
  max_batch_size: 64
  batch_size: 64
  patience: 250
  early_stop_metric: val_kinematic_r2

sweep_cfg: simple_scratch
sweep_mode: 'grid'
notes: 'Cursor comparison with NDT3'